
.metas-main {
    padding-top: 3rem;
}

.secao-titulo {
    font-size: 20px;
    color: #2c3e50;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.metas-resumo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    padding: 2rem 3rem;
    border-radius: 16px;
}

.metas-resumo header h2 {
    color: #28AE8F;
}

.metas-resumo-cards {
    display: flex;
    gap: 2rem;
}

.resumo-card {
    background: #fff;
    border-right: 1px solid #ddd;
    padding-right: 2rem;
    min-width: 200px;
}

.titulo {
    color: #888888;
    margin: 2rem 0;
    border-bottom: 1px solid #CACACA;
    font-weight: 500;
}

.resumo-titulo {
    font-weight: 400;
    font-size: 14px;
    color: #888;
}

.resumo-valor {
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    color: #2c3e50;
}

.progresso-geral {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.progresso-porcentagem {
    font-size: 14px;
    color: #00a896;
    font-weight: bold;
}

.barra-progresso {
    flex: 1;
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.barra-preenchida {
    width: 16%;
    height: 100%;
    background: #00a896;
    border-radius: 10px;
}


.metas-secundarias {
    margin-bottom: 50px;
}

.metas-secundarias .cards {
    display: flex;
}

.meta-card {
    width: 280px;
    min-height: 325px;
    background: #fff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.05);
    display: flex;
    margin-right: 20px;
    vertical-align: top;
    flex-direction: column;
}

.meta-info-topo, .meta-info-progresso {
    border-bottom: 1px solid #D2D2D2;
}



.meta-titulo {
    border-left: 4px solid #28AE8F;
    padding-left: 1.5rem;
    font-size: 16px;
    margin-bottom: 15px;
    color: #384240;
}

.meta-info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 8px;
}

.meta-label {
    font-weight: 600;
    color: #777;
}

.meta-valor {
    font-weight: 400;
    color: #384240;
}

.meta {
    color: #28AE8F;
}

.guardado {
    color: #67A234;
}
.meta-info-progresso {
    padding: 1rem 0;
}

.meta-info-progresso .barra-preenchida {
    width: 32%;
    background: #8bc34a;
}


.meta-mensal {
    margin: 10px 0;
}


.meta-acoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.btn-adicionar-valor {
    background: #28AE8F;
    border: none;
    color: white;
    padding: 8px 14px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

.btn-adicionar-valor:hover {
    background: #02897a;
}

.btn-opcoes {
    width: 55px;
    height: 35px;
    border-radius: 50%;
    background: #2c3e50;
    color: #fff;
    border: none;
    cursor: pointer;
}


.meta-adicionar {
    background: #fff;
    border-radius: 16px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 12px rgba(0,0,0,0.05);
    cursor: pointer;
}

.meta-adicionar i {
    background-color: #28AE8F;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
}
.meta-adicionar:hover {
    transform: scale(1.02);
}

.icone-adicionar {
    width: 60px;
    height: 60px;
    background: #00a896;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}

.icone-adicionar::before,
.icone-adicionar::after {
    content: "";
    position: absolute;
    background: white;
}

.icone-adicionar::before {
    width: 20px;
    height: 4px;
    top: 28px;
    left: 20px;
}

.icone-adicionar::after {
    width: 4px;
    height: 20px;
    top: 20px;
    left: 28px;
}

.meta-adicionar-titulo {
    color: #00a896;
    text-align: center;
    font-weight: 600;
}


.resumo-card:last-child {
    border-right: none;
}


/* ===== FOOTER ===== */
.dashboard-footer {
    background: #e6e6e6;
    padding: 40px;
    margin-top: 40px;
}

.dashboard-footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* LOGO + TEXTO */
.dashboard-footer-marca img {
    width: 50px;
    margin-bottom: 10px;
}

.dashboard-footer-marca h4 {
    font-size: 12px;
    color: #666;
}

/* COLUNAS */
.dashboard-footer-coluna {
    min-width: 150px;
}

.footer-titulo {
    font-size: 14px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.footer-lista {
    list-style: none;
    padding: 0;
}

.footer-lista li {
    margin-bottom: 6px;
    font-size: 13px;
}

.footer-lista a {
    text-decoration: none;
    color: #555;
    transition: 0.3s;
}

.footer-lista a:hover {
    color: #00a896;
}


@media (max-width: 768px) {

    .metas-resumo {
        flex-direction: column;
    }

    .meta-card,
    .meta-adicionar {
        width: 100%;
        margin-bottom: 20px;
    }

}