/* Header */

.nav-menu li:nth-child(2) a {
    color: #28AE8F;
}

/* Hero */

.hero-texto {
    display: flex;
    flex-direction: column;
    color: #384240;
    gap: 1rem;
}

.hero-texto h1 {
    font-size: 50px;
    padding: 0 0 0 2rem;
    line-height: 1.2;
}

.hero-texto p {
    font-size: 30px;
    font-weight: 500;
}

.hero-content {
    display: flex;
    padding-bottom: 3rem;
}

.hero-circulos img {
    max-width: 450px;
}

.secao-planos {
    background: linear-gradient(135deg, #7ebca3 0%, #a9d29d 100%);
    padding: 80px 0;
    text-align: center;
    color: white;
}

.titulo-planos {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

.subtitulo-planos {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    opacity: 0.9;
}

.grade-planos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}


.cartao-plano {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    color: white;
    -webkit-backdrop-filter: blur(12px);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 40px;
    width: 320px;
    transition: transform 0.3s ease;
}

.cartao-plano:hover {
    transform: translateY(-10px);
}

.tipo-plano {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.preco-plano {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.legenda-plano {
    font-size: 0.9rem;
    margin-bottom: 20px;
    min-height: 50px;
}

.divisor-diagonal {
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    margin: 20px 0;
}

.lista-beneficios {
    list-style: none;
    text-align: left;
    margin-bottom: 30px;
}

.lista-beneficios li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.icone-check {
    width: 18px;
    height: 18px;
    background: #fff;
    color: #7ebca3;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 10px;
}

.icone-check::before {
    content: '✔';
}

.botao-experimente {
    display: block;
    background: #fff;
    color: #28AE8F;
    text-decoration: none;
    padding: 12px;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.botao-experimente:hover {
    background: #28AE8F;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}




.conteudo-flex {
    display: flex;
    align-items: center;
    padding-top: 6rem;
    gap: 4rem;
}

.conteudo-flex>div {
    flex: 1;
}


.seguranca .conteudo-flex {
    flex-direction: row-reverse;
}

.texto-bloco {
    flex: 1;
}

.texto-bloco h2 {
    font-family: 'Poppins', sans-serif;
    color: #28AE8F;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.texto-bloco p {
    margin-bottom: 10px;

}

.texto-bloco-subtitulo {
    font-weight: 700;
    color: #384240;
}

.descricao-pequena {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #777;
    font-weight: 500;
}

.imagem-bloco {
    flex: 1;
    position: relative;
}

.seguranca {
    padding-bottom: 6rem;
}
.margem {
    margin-left: -3rem;
}

.direita {
    text-align: end;
}

.imagem-bloco img {
    width: calc(100% + 6rem);
    display: block;
}

.img-figma {
    max-height: 350px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 768px) {

    .conteudo-flex,
    .inverso {
        flex-direction: column;
        text-align: center;
    }

    .grade-planos {
        flex-direction: column;
        align-items: center;
    }
}


.depoimentos {
    background: linear-gradient(0deg, #bde3cf, #a8cbb5);
    padding: 60px 0;
}

.depoimentos-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-depoimento {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-depoimento span {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

.estrelas {
    margin-top: 10px;
    color: #f4c542;
}

.faq {
    padding: 80px 0;
    background: #f6f8f7;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.faq-texto {
    max-width: 500px;
}

.faq-texto h2 {
    font-size: 60px;
    color: #384240;
}

.faq-texto p {
    font-size: 30px;
}

.faq-perguntas {
    width: 500px;
}

.pergunta {
    gap: 2rem;
    display: flex;
    background: #ffffff;
    padding: 45px;
    min-height: 25px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    flex-direction: column;
    transition: 0.3s;
}

.faq-pergunta {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-pergunta span {
    max-width: 80%;
}

.faq-resposta {
    display: none;
    width: 100%;
}

.pergunta.ativa .faq-resposta {
    display: block;
}

.faq-pergunta button {
    background: #28AE8F;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .depoimentos-grid {
        flex-direction: column;
        align-items: center;
    }

    .faq-container {
        flex-direction: column;
    }

    .footer-grid {
        flex-direction: column;
    }
}