.login-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section {
    width: 50%;
    height: 100%;
}

.login-hero, .login-hero p {
    color: #fff;
    background: url('./imagens/background.jpg');
    background-size: cover;
    background-position: center;    
}

.hero-header{
    display: flex;
    align-items: center;
    gap: 20px;
}